body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: auto;
    text-align: center;
  }

  img {
    width:128px;
    height:128px;

  }
  
  h1 {
    font-size: 36px;
    margin-top: 50px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 50px;
  }
  
  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  tfoot td {
    font-weight: bold;
  }
  
  a {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 50px;
    border-radius: 5px;
  }

  