<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PickaBook.in</title>
    <link rel="icon" href="{% static 'shop/logo4.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'shop/style.css' %}">


</head>
<style>
    #login-btn {
    margin-left: 14px;
    }
    .header .header-1{
    padding: 2rem 9%;
    }
</style>
<body>


<header class="header">

    <div class="header-1">

        <a href="#" class="logo"><i class="fas fa-book"></i> PickaBook</a>
        <div class="icons">
            <a href="#" class="fas fa-heart"></a>
            <a href="/shop" class="fas fa-home"></a>
            <div id="login-btn" class="fas fa-user"></div>
        </div>

    </div>

    <div class="header-2">
        <nav class="navbar">
            <a href="#">you are looking at your cart</a>
        </nav>
    </div>

</header>


</body>


<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<!-- custom js file link  -->
<script src="{% static 'shop/script.js' %}"></script>


