<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flat 40% books</title>
    <link rel="icon" href="{% static 'shop/logo4.png'%}" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'shop/style.css' %}">
    <link rel="stylesheet" href="{% static 'shop/css/bootstrap.css' %}">
</head>
<style>
    .none{
    position:absolute;
    top:38px;
    right:15px;
    }

    .desc{
    position:absolute;
    top:42px;
    left:350px;
    right:180px;
    }

</style>
<body>


<header class="header">

    <div class="header-1">

        <a href="/shop" class="logo"><i class="fas fa-book"></i> PickaBook</a>
        <form action="" class="search-form">
            <input type="search" name="" placeholder="search for the books here..." id="search-box">
            <label for="search-box" class="fas fa-search"></label>
        </form>

        <div class="icons">
            <div id="search-btn" class="fas fa-search"></div>
            <a href="/shop/wishlist" class="fas fa-heart"></a>
            <a href="/shop/cart" class="fas fa-shopping-cart">
            <span class="badge"><span id="cart">0</span></span>
            </a>
            <div id="login-btn" class="fas fa-user"></div>
        </div>
    </div>

    <div class="header-2">
        <nav class="navbar">
            <a href="/shop">home</a>
            <a href="/shop/#arrivals">arrivals</a>
            <a href="/shop/#reviews">reviews</a>
            <a href="/shop/about">About Us</a>
            <a href="/shop/contact">Contact Us</a>
            <a href="/shop">My Orders</a>
        </nav>
    </div>


</header>

<!-- header section ends -->

<!-- bottom navbar  -->

<nav class="bottom-navbar">
    <a href="#home">home</a>
        <a href="#arrivals">arrivals</a>
        <a href="#reviews">reviews</a>
        <a href="/shop/about">About Us</a>
        <a href="/shop/contact">Contact Us</a>
        <a href="/shop">My Orders</a>
    </a>
</nav>

<section class="arrivals" id="arrivals">
    {% for prod_view in product %}
    <div class="swiper arrivals-slider">
        <div class="swiper-wrapper">
            <a href="/shop/viewing2/{{prod_view.id}}" class="swiper-slide box">
                <div class="image">
                    <img src="/media/{{prod_view.image}}" alt="{{prod_view.product_name}}">
                </div>
                <div class="content">
                    <h3 style="width:250px;">{{prod_view.product_name}}<br>
                        <small>genre: {{prod_view.sub_category}}</small>
                    </h3>

                    <div class="price">₹{{prod_view.product_price}}<span></span></div>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                </div>
                <div class="desc">
                <p style="font-size:15px;color:black;">
                    <strong>About Book</strong>: <em>{{prod_view.product_desc}}</em>
                </p>
                </div>
                <div class="none">
                    <button type="button" id="cart{{prod_view.id}}" class="btn btn-primary" style="padding-left: 15px;padding-right: 15px;">Add to Wishlist</button><br>
                    <button type="button" id="wish{{prod_view.id}}" class="btn btn-primary" style="margin-left:15px;padding-left: 15px;padding-right: 15px;">Add to Cart</button>
                </div>
            </a>
        </div>
    </div>
    {% endfor %}
</section>


<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<!-- custom js file link  -->
<script src="{% static 'shop/script.js' %}"></script>

<script>
    if(localStorage.getItem('cart') == null){
var cart = {};
}
else{
cart = JSON.parse(localStorage.getItem('cart'));
document.getElementById('cart').innerHTML = Object.keys(cart).length;
}
$('.cart').click(function(){

var idstr = this.id.toString();
if (cart[idstr] != undefined){
cart[idstr] = cart[idstr] + 1;
}
else{
cart[idstr] = 1;
}
localStorage.setItem('cart', JSON.stringify(cart));
document.getElementById('cart').innerHTML = Object.keys(cart).length;
});

</script>

</body>
</html>